@media screen and (max-width:600px){
    .txt_one h5,h2,p{text-align: center;
    }
.read_more{max-width: 30%;
    padding: 10px 15px 10px 15px;}
.img_sec{width: 100%;
text-align: center;}
.service_quality{ max-width: 100%;
height: auto;}
}

@media screen and (max-width:350px){
    .txt_one h5,h2,p{text-align: center;
    }
.read_more{max-width: 50%;
    padding: 10px 15px 10px 15px;}
.img_sec{width: 100%;
text-align: center;}
.service_quality{ max-width: 100%;
height: auto;}
}